<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My First Flask</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<style>
  #banner {
    width: 100%;
    height: 360px;
    object_fit: cover;

}
</style>
  
</head>
<body>
  
  <div class="container">
   <h1 class="text-center mt-5 mb-4"> Gallery by {{company_name}} </h1>  
  <img class="img-fluid"  id="banner" src="static/b_2022_s.jpg" alt="Tazones" > 
  <h2 class="text-center mt-5 mb-4"> {{company_name}} Painting & Drawing </h2>
  <div class="lead">
    {% for job in jobs %}
      {% include 'jobitem.html' %}
    {% endfor %}
  </div>
  <h2 class="text-center mt-5 mb-4">Galleries:</h2>
  <p class="bodytext">Artworks selected by Subjects..</p>
  <div class="text-center">
    <button class="btn btn-outline-secondary btn-lg">Contact Me</button>
  </div>
</div>
  <p class="text-center mt-4">Copyright 2023, {{company_name}}.</p>
  
</body>
</html>